.Box {
    display: table;
    margin: 0 auto;
    margin-top: 20px;

  }
  
  .Box-div,
  .Box-btn {
    width:30px;
    height: 30px;
    background-color: red;
  }

  .Box-div {
    display: table-cell;
    vertical-align: middle;
  }
